<%- include('header') -%>
<body>
    <div id="app">
        <h2>Job Listing</h2>
        <a onclick="listJobs()" class="waves-effect waves-light btn">List Available Jobs</a>
        <div id="displayJobs"></div>
    </div>
<%- include('footer') -%>