<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Search</title>
</head>
<body>
    <h2>Job Listing</h2>
    <button onclick="listJobs()"></button>
    <div id="displayJobs"></div>
    <script>
        function listJobs()
        {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = () => 
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    document.getElementById('displayJobs').innerHTML=xmlhttp.responseText;
                }
            }

            xmlhttp.open("GET","/showmodalroute",true);
            xmlhttp.send();
        }
    </script>
</body>
</html>