<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Jobs below</h3>
    <% for (var i =0; i < results.length; i++) { %>
        <div>
            <%= results[i].title %>
            <%= results[i].descriptions %>
            <%= results[i].salary %>
        </div>
    <% } %>
</body>
</html>