<%- include('header'); -%>

<form method="POST" action="/postJobs">
    <div class="row">
        <div class="input-field col s6">
            <input name="jobTitle" id="jobTitle" type="text" class="validate">
            <label for="jobTitle">Job Title</label>
        </div>
        <div class="input-field col s6">
            <textarea name="jobDescription" id="jobDescription" class="materialize-textarea"></textarea>
            <label for="jobDescription">Job Description</label>
        </div>
        <div class="input-field col s6">
            <input name="salary" id="salary" type="text" class="validate">
            <label for="salary">Salary</label>
        </div>
    </div>
    <input type="submit">
</form>

<%- include('footer'); -%>